{
  "plugins": [
    [
      "babel-plugin-transform-optimize-object-literal",
      {
        "skipArrayOptimizationIfLengthIsBelow": 10,
        "skipObjectOptimizationIfLengthIsBelow": 10
      }
    ]
  ]
}